@import url("./assets/styles/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bkg: white;
    --color-content: black;
    --color-accent1: #00a3ff;
    --input-fill: #f2f2f2;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-bkg: black;
      --color-content: white;
      --color-accent1: #00a3ff;
      --input-fill: transparent;
    }
  }
  :root[data-theme="dark"] {
    --color-bkg: black;
    --color-content: white;
    --input-fill: transparent;
  }
  :root[data-theme="light"] {
    --color-bkg: white;
    --color-content: black;
    --input-fill: #f2f2f2;
  }
}

:root {
  --toastify-color-progress-dark: rgb(8, 223, 8);
  --toastify-font-family: "Onest";
}

html {
  /* background-color: black; */
}

.custom-blur {
  backdrop-filter: blur(12px);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: var(--color-content) !important;
  -webkit-background-clip: text !important;
}
